<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.wangluoguimi.soundsystem.CompactDisc" name="compactDisc1 compactDisc12"/>
    <bean class="com.wangluoguimi.soundsystem.CompactDisc" id="compactDisc2"/>

    <bean id="cdPlayer1" class="com.wangluoguimi.soundsystem.CDPlayer">
        <constructor-arg ref="compactDisc1"/>
    </bean>

    <bean id="cdPlayer2" class="com.wangluoguimi.soundsystem.CDPlayer" c:cd-ref="compactDisc2"/>

    <bean id="cdPlayer3" class="com.wangluoguimi.soundsystem.CDPlayer" c:_0-ref="compactDisc2"/>
</beans>
